 .DashBoardOneMain{
          padding: 26px 30px; position: relative;  height: calc(100vh - 80px); display: flex;flex-direction: column; justify-content: space-between;
         .CampanyLogo{
            display: flex; flex-direction: row; align-items: center; justify-content: space-between;
            img{
                width: 46px; height: 46px;
            }
            .CampanyTextMain{ 
                display: flex; flex-direction: row; gap: 15px; align-items: center;
                .CampanyText{
                    display: flex; flex-direction: column; gap: 8px;
                    h1{
                        font-size: 14px; font-weight: 600; line-height: 100%; color: var(--vt-c-Color-White); margin: 0px;
                        span{
                            color: var(--vt-c-Color-Text-Bold-Gray); 
                        }
                    }
                    h2{
                        color: #FFB21D; font-size: 20px; font-weight: 700; gap: 15px; margin: 0px; line-height: 100%;
                        span{
                            color: #28CF62; font-size: 14px;
                        }
                    }
                }
            }
            .Select{
                display: flex; gap: 4px;
                p{
                    color: #747883; font-size: 15px; font-weight: 600; margin: 0px;
                }
                .p-select{
                    width: 130px;
                }
                .p-select-label{
                    color: #7A90B2; font-size: 15px; font-weight: 600; 
                }
            }
        }
        .TrendingOption{
            display: flex; flex-direction: column; gap: 19px;
            .OptionsMain{
                    display: flex; flex-direction: column; gap: 15px;
                .optionHead{
                    display: flex; justify-content: space-between; align-items: center; 
                    .trendText{
                        display: flex; 
                        svg{
                            width: 19px; height: 20px;
                        }
                        p{
                            color: #6A7AAF; font-size: 12px; font-weight: 500; margin: 0px;
                        }
                    }
                    .TrendIcon{
                        display: flex; flex-direction: row; gap: 8px;
                        .IconBox{
                            width: 29px; height: 29px; background: #192550; border-radius: 5px; display: flex; align-items: center; justify-content: center; 
                            svg{
                                width: 20px; height: 16px; cursor: pointer; filter: brightness(0) saturate(100%) invert(43%) sepia(7%) saturate(1336%) hue-rotate(203deg) brightness(91%) contrast(90%);
                            }
                        }
                    }
                }
                .TrendSuggested{
                    display: flex; flex-direction: row; gap: 15px; width: 100%; overflow: auto;
                    .Suggest{
                        width: fit-content; padding: 13px; border-radius: 10px; border: 1px solid #11182F;
                        p{
                            color: #7491F3; font-size: 12px; font-weight: 500; margin: 0px; 
                        }
                    }
                }
            }
            .ChatBoxMain{
                 width: 100%; padding: 1px; background: linear-gradient(90deg, #04FFCD, #6A00FF); border-radius: 10px; display: inline-block;
                .ChatBoxUnder{
                    padding: 15px 18px; display: flex; flex-direction: column; gap: 30px; background: #111831; border-radius: 10px; 
                    .ChatBoxUnderMainDv{
                        display: flex; justify-content: space-between; align-items: center;
                        .AskSomething{
                            width: 86%; display: flex; flex-direction: row; justify-content: space-between; align-items: center;
                            .BoxIcon{
                                background: #182245; width: 43px; height: 40px; display: flex; justify-content: center; align-items: center; border-radius: 10px;
                                img{
                                    width: 13px; height: 18px;
                                }
                            }
                            input{
                                border: none; color: #717AB4; font-size: 16px; font-weight: 400; background: none; width: 100%; padding: 0px 0px 0px 20px;
                            }
                            input::placeholder{
                                 color: #717AB4; font-size: 16px; font-weight: 400;
                                }
                                input:focus{
                                    outline: none; box-shadow: none; border: none; 
                                }
                            }
                            .plan{
                                p{
                                    font-weight: 500; font-size: 12px; color: #FFFFFF; font-family: var(--vt-c-Text-Font-Montserrat);
                                    span{
                                        font-weight: 900; font-size: 12px; color: #3CBEFF;
                                    }
                                }
                            }
                        }
                    }
                    .ChatComitmentMain{
                        display: flex; flex-direction: row; justify-content: space-between; align-items: center;
                        .WebMode{
                            display: flex; flex-direction: row; gap: 15px;
                            .Web{
                                width: fit-content; height: 31px; display: flex; flex-direction: row; gap: 6px; border-radius: 10px; border: 1px solid #3F5191; padding: 5px; align-items: center;
                                img{
                                    width: 20px; height: 20px;
                                }
                                .MicroImg{
                                    width: 12px; height: 19px;
                                }
                                p{
                                    color: #3F5191; font-size: 12px; font-weight: 500; margin: 0px; line-height: 100%; 
                                }
                                .circle{
                                    width: 14px; height: 14px; border: 2px solid #3F5191; border-radius: 50%;
                                }
                            }
                        }
                        .IconsForCommit{
                            display: flex; flex-direction: row; gap: 15px;
                            .Attachement{
                                cursor: pointer; background: #182245; width: 30px; height: 30px; border-radius: 8px;  display: flex; justify-content: center; align-items: center;
                                img{
                                    width: 18px; height: 18px;
                                }
                                .SendImg{
                                    width: 25px; height: 25px;
                                }
                            }
                            .BlueAttachemnet{
                                background: #33A6DF;
                            }
                        }
                    }
                }
        }
            .MiddleContentDv{
                display: flex; flex-direction: column; gap: 30px; align-items: center; 
                img{ 
                    width: 73px; height: 68px;
                }
                p{
                    color: #7A90B2; font-size: 30px; font-weight: 800; margin: 0px; line-height: 100%; text-align: center;
                }
                h4{
                    color: #65799D; font-size: 20px; font-weight: 500; margin: 0px; line-height: 25px; text-align: center;
                }
                .QuestionBoxMain{
                    display: flex; flex-direction: row; gap: 50px; align-items: center; 
                    .Box{
                        width: 243px; height: 128px; border-radius: 10px; border: 1px solid #586C8F; padding: 17px 20px; display: flex; flex-direction: column; gap: 18px;
                        .Flash{
                            width: 30px; height: 30px; background: #182245; border-radius: 10px; display: flex; align-items: center; justify-content: center;
                            img{
                                width: 15px; height: 18px;
                            }
                        }
                        p{
                            color: #717AB4; font-size: 16px; font-weight: 500; margin: 0px; line-height: 20px; text-align: start;
                        }
                    }
                }
            }
}